body{
    background-color: antiquewhite;
    max-width: 900px;
    margin-left: 3em;
}
.grid-display{
    display: grid;
    grid-template-columns: 0.9fr 0.3fr 0.4fr 0.7fr 1.2fr 2fr 5fr;
}
.heading-display {
    display: grid;
    grid-template-columns: 1fr 1fr 1.2fr 2fr 5fr; 
    padding-left: 0;
    margin: 0;
    
}
.quantity{
    text-align: center;
}
.heading-display li{
    list-style: none;
    font-weight: bold;
}
p{
    margin: 0;
}
.calculate{
    margin: 1em 0;
}
.calcbutton{
    font-size: 1em;
    padding: 0.5em;
}
.calctotal{
    margin: 1em 0;
    
}
.calctotal p{
    margin-top:0.5em;
    background-color: lightcoral;
    width: fit-content;
}
.coupon{
    display: grid;
    grid-template-columns: auto auto 0.9fr;
}
.coupon p{
    margin-top: 0.5em;
}
.code{
    font-size: 0.9em;
    padding:0.5em;
    width: fit-content;
}
.entercode{
    margin-top: 1em;
}
.couponinput{
    font-size: 0.9em;
}